[Unit]
Description=Custom desktop ClamAV full scan
Wants=clamav-freshclam.service
After=clamav-freshclam.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/custom-security-scan full
Nice=15
IOSchedulingClass=idle
