[Unit]
Description=Run Custom desktop ClamAV quick scan daily

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
RandomizedDelaySec=45m

[Install]
WantedBy=timers.target
